services:
  api:
    container_name: eventify-api-prod
    image: eventify-api:prod
    restart: unless-stopped
    build:
      context: .
      target: production
    ports:
      - 4001:3007
    volumes:
      - ./uploads:/usr/src/eventify/uploads
    working_dir: /usr/src/eventify
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 800M # 800 MB for API
          cpus: "1.0"
    networks:
      - monorepo-network-prod
    command: node dist/apps/api/main

  batch:
    container_name: eventify-batch-prod
    image: eventify-batch:prod
    restart: unless-stopped
    build:
      context: .
      target: production
    ports:
      - 4002:3008
    volumes:
      - ./uploads:/usr/src/eventify/uploads
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /usr/src/eventify
    env_file:
      - .env
    environment:
      - SAVE_JSON_FILES=false
    deploy:
      resources:
        limits:
          memory: 800M # 800 MB for Batch
          cpus: "0.5"
    networks:
      - monorepo-network-prod
    command: node dist/apps/batch/main

networks:
  monorepo-network-prod:
    name: monorepo-network-prod
    driver: bridge
