services:
  ollama:
    image: ollama/ollama:latest
    container_name: eventify-ollama-dev
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - monorepo-network

  api:
    container_name: eventify-api-dev
    restart: unless-stopped
    build:
      context: .
      target: development
    ports:
      - 4001:3007
    volumes:
      - ./:/usr/src/eventify
      - ./uploads:/usr/src/eventify/uploads
      - ./node_modules:/usr/src/eventify/node_modules
    working_dir: /usr/src/eventify
    env_file:
      - .env.dev

    networks:
      - monorepo-network

    # FOR DEVELOPMENT
    command: sh -c "npm install && npm run dev"

  batch:
    container_name: eventify-batch-dev
    restart: unless-stopped
    build:
      context: .
      target: development
    ports:
      - 4002:3008
    volumes:
      - ./:/usr/src/eventify
      - /usr/src/eventify/node_modules
      - ./uploads:/usr/src/eventify/uploads
    working_dir: /usr/src/eventify
    env_file:
      - .env.dev

    networks:
      - monorepo-network

    depends_on:
      - ollama

    # FOR DEVELOPMENT
    command: sh -c "while [ ! -d node_modules ]; do sleep 2; done && npm run dev:batch"

volumes:
  ollama_data:

networks:
  monorepo-network:
    driver: bridge
