services:
  ollama:
    image: ollama/ollama:latest
    container_name: eventify-ollama-dev
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - monorepo-network

  api:
    container_name: eventify-api-dev
    restart: unless-stopped
    build: .
    ports:
      - 4001:3007
    volumes:
      - ./:/usr/src/eventify
      - shared_node_modules:/usr/src/eventify/node_modules
    working_dir: /usr/src/eventify
    env_file:
      - .env.dev

    networks:
      - monorepo-network

    # FOR DEVELOPMENT
    command: bash -c "pnpm install && pnpm run dev"

  batch:
    container_name: eventify-batch-dev
    restart: unless-stopped
    build: .
    ports:
      - 4002:3008
    volumes:
      - ./:/usr/src/eventify
      - shared_node_modules:/usr/src/eventify/node_modules
    working_dir: /usr/src/eventify
    env_file:
      - .env.dev

    networks:
      - monorepo-network

    depends_on:
      - ollama

    # FOR DEVELOPMENT
    command: bash -c "while [ ! -d node_modules/.pnpm ]; do sleep 2; done && pnpm run dev:batch"

volumes:
  shared_node_modules:
  ollama_data:

networks:
  monorepo-network:
    driver: bridge
