services:
  api:
    container_name: eventify-api-prod
    restart: unless-stopped
    build: .
    ports:
      - 4001:3007
    volumes:
      - ./:/usr/src/eventify
      - shared_node_modules:/usr/src/eventify/node_modules
    working_dir: /usr/src/eventify
    env_file:
      - .env

    networks:
      - monorepo-network

    # FOR PRODUCTION
    command: bash -c "pnpm install && pnpm run build && pnpm run start:prod"

  batch:
    container_name: eventify-batch-prod
    restart: unless-stopped
    build: .
    ports:
      - 4002:3008
    volumes:
      - ./:/usr/src/eventify
      - shared_node_modules:/usr/src/eventify/node_modules
    working_dir: /usr/src/eventify
    env_file:
      - .env

    networks:
      - monorepo-network

    extra_hosts:
      - "host.docker.internal:host-gateway"

    # FOR PRODUCTION
    command: bash -c "while [ ! -d node_modules/.pnpm ]; do sleep 2; done && pnpm run build && pnpm run start:prod:batch"

volumes:
  shared_node_modules:

networks:
  monorepo-network:
    driver: bridge
