services:
  ollama:
    image: ollama/ollama:latest
    container_name: eventify-ollama-prod
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - monorepo-network

  api:
    container_name: eventify-api-prod
    restart: unless-stopped
    build:
      context: .
      target: production
    ports:
      - 4001:3007
    volumes:
      - ./uploads:/usr/src/eventify/uploads
    working_dir: /usr/src/eventify
    env_file:
      - .env

    networks:
      - monorepo-network

    # FOR PRODUCTION
    command: node dist/apps/api/main

  batch:
    container_name: eventify-batch-prod
    restart: unless-stopped
    build:
      context: .
      target: production
    ports:
      - 4002:3008
    volumes:
      - ./uploads:/usr/src/eventify/uploads
    env_file:
      - .env

    networks:
      - monorepo-network

    depends_on:
      - ollama

    # FOR PRODUCTION
    command: node dist/apps/batch/main

volumes:
  ollama_data:

networks:
  monorepo-network:
    driver: bridge
