# Application Configuration
DOMAIN_NAME=https://eventify.azbek.me

# Ports
PORT_API=3007
PORT_BATCH=3008

# MongoDB Configuration
MONGODB_URI=...

SECRET_TOKEN=...

PUPPETEER_CACHE_DIR=/root/.cache/puppeteer
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true

# AI/LLM Configuration 
GEMINI_API_KEY=...
